body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.cluster {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2rem;
    margin-top: 0;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 5px;
}

#clusterA li {
    background-color: #17a2b8;
}

#clusterB li {
    background-color: #28a745;
}

li::before {
    content: "•";
    color: #fff;
    display: inline-block;
    margin-right: 5px;
}
